:root {
    --main-bg-color: rgb(244, 255, 255);
    --main-bg-image: url(./images/noughtsandcrosses.png);
    --main-font-family: "Helvetica";
    --main-section-width: 30vw;
}

@font-face{
    font-family: "Tik Tok Sans";
    src: url("./fonts/TikTok-Sans-Bold.ttf");
}

body {
    background-image: var(--main-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Tik Tok Sans";
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    > * {
        margin: 0;
    }
}

.inner-header {
    display: flex;
    justify-content: space-between;
    width: var(--main-section-width);
    padding: 2em;
}

.title-container {
    > * {
        margin: 0;
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    display: grid;
    height: var(--main-section-width);
    width: var(--main-section-width);
    background-color: darkgray;
    box-sizing: border-box;
    padding: 1em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1em;
}

.grid-cell {
    background-color: white;
    font-style: bold;
    font-size: 16px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#message-box {
    padding: 1em;
}