:root {
    --main-bg-color: rgb(244, 255, 255);
    --main-bg-image: url(./images/noughtsandcrosses.png);
    --main-font-family: "Helvetica";
    --main-section-width: 30vw;
}

body {
    background-image: var(--main-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--main-font-family);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    > * {
        margin: 0;
    }
}

.inner-header {
    display: flex;
    justify-content: space-between;
    width: var(--main-section-width);
    padding: 2em;
}

.title-container {
    > * {
        margin: 0;
    }
}

main {
    display: flex;
    justify-content: center;
}

#gameboard {
    display: grid;
    height: var(--main-section-width);
    width: var(--main-section-width);
    background-color: darkgray;
    box-sizing: border-box;
    padding: 1em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1em;
}

.grid-cell {
    background-color: white;
}